<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>wishBox:: Sign In</title>

  <link href="https://fonts.googleapis.com/css?family=Almarai|Poppins:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top logo-nav">
      <a class="brand" href="#">WishBox</a>
    </nav>
  </header>
  <main>
    <div class="d-flex align-items-center h-100">
      <div id="side-frame" class="col-lg-5 col-xl-4 d-none d-lg-flex align-items-center h-100 px-0"></div>
      <div id="auth-frame" class="container">
        <div class="row">
          <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 mt-sm-8 mb-sm-8">
            <form class="js-validate mt-5">
              <div class="mb-7">
                <h1 class="h3 text-primary font-weight-normal mb-0">Welcome to <span
                    class="font-weight-semi-bold">WishBox</span></h1>
                <p>Fill out the form to make your wish</p>
              </div>
            
              <div class="js-form-message form-group">
                <label class="form-label" for="signinSrEmail">EMAIL ADDRESS</label>
                <input type="email" class="form-control" name="email" id="signinSrEmail" placeholder="Email address"
                  aria-label="Email address" required data-msg="Please enter a valid email address."
                  data-error-class="u-has-error" data-success-class="u-has-success">
              </div>

              <div class="js-form-message form-group">
                <label class="form-label" for="signinSrPassword">PASSWORD</label>
                <input type="password" class="form-control" name="password" id="signinSrPassword" placeholder="********"
                  aria-label="********" required data-msg="Your password is invalid. Please try again."
                  data-error-class="u-has-error" data-success-class="u-has-success">
              </div>

              <div class="js-form-message form-group">
                <label class="form-label" for="signinSrConfirmPassword">CONFIRM PASSWORD</label>
                <input type="password" class="form-control" name="confirmPassword" id="signinSrConfirmPassword"
                  placeholder="********" aria-label="********" required
                  data-msg="Password does not match the confirm password." data-error-class="u-has-error"
                  data-success-class="u-has-success">
              </div>
            
              <div class="js-form-message mb-5">
                <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                  <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox" required
                    data-msg="Please accept our Terms and Conditions." data-error-class="u-has-error"
                    data-success-class="u-has-success">
                  <label class="custom-control-label" for="termsCheckbox">
                    <small>
                      I agree to the
                      <a class="link-muted" href="terms.html">Terms and Conditions</a>
                    </small>
                  </label>
                </div>
              </div>

              <div class="row align-items-center mb-5">
                <div class="col-5 col-sm-6">
                  <span class="small text-muted">Don't have an account?</span>
                  <a class="small" href="signin.html">Sign up</a>
                </div>

                <div class="col-7 col-sm-6 text-right">
                  <button type="submit" class="btn btn-primary transition-3d-hover">Get Started</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>